<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    #space {
        margin-right: 15px;
    }
</style>

<!--This is the admin page-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    </head>
    <body onload="onStart()">
        <div class="container" style="padding-top: 25px; min-width: 90%">
            <div class="row">
                <div class="mx-auto col-lg-12 col-xs-*">
                    <div class="card">
                        <div class="card-header text-white" style="background-color: #b31b1b;">
                            <h2>
                                Regalia Entries
                            </h2>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-around">
                                <button onClick="showFaculty()" type="button" class="btn text-white text-right" style="background-color: #006e7a;">Display Faculty Table</button>
                                <button onClick="showOrders()" type="button" class="btn text-white text-right" style="background-color: #006e7a;">Display Orders Table</button>
                                <button onClick="showAddAdmin()" type="button" class="btn text-white text-right" style="background-color: #006e7a;">Add New Admin</button>
                                <button onclick="ConfirmWrite()" type="button" class="btn text-white text-right" style="background-color: #006e7a;">Write Orders to Historic Orders</button>
                            </div>
                            <div id="facultyTable" class="container" style="padding-top: 25px; min-width: 100%; display: none;">
                                <div class="row">
                                    <div class="mx-auto col-lg-12 col-xs-*">
                                        <div class="card">
                                            <div class="card-header">
                                                <div style="clear: both">
                                                    <h2 style="float: left">Faculty Table</h2>
                                                    <button style="float: right" onClick="location.href='@Url.Action("ExportFaculty", "Web")'" type="button" class="btn text-white text-right bg-success">Export Faculty Table to Excel</button>
                                                </div>
                                            </div>
                                            <div class="card-body" style="overflow-x:auto;">
                                                <table border="1" cellpadding="0" cellspacing="0" Class="small table table-bordered table-striped table-sm table-hover">
                                                    <tr>
                                                        <th>Email</th>
                                                        <th>Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Department</th>
                                                        <th>Cap Size</th>
                                                        <th>University</th>
                                                        <th>Degree</th>
                                                        <th>Height Feet</th>
                                                        <th>Height Inches</th>
                                                        <th>Weight</th>
                                                        <th>Admin</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    @foreach (var item in ViewBag.faculty)
                                                    {
                                                        <tr>
                                                            <td>@item.Email</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.PhoneNumber</td>
                                                            <td>@item.Department</td>
                                                            <td>@item.CapSize</td>
                                                            <td>@item.University</td>
                                                            <td>@item.Degree</td>
                                                            <td>@item.Feet</td>
                                                            <td>@item.Inches</td>
                                                            <td>@item.Weight</td>
                                                            <td>@item.isAdmin</td>
                                                            <td><Button ID="btnDelete" type="button" onclick="ConfirmDeleteFaculty('@item.Email')" class="btn text-white text-right" style="background-color: #990000;">Delete</Button></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ordersTable" class="container" style="padding-top: 25px; min-width: 100%; display: none;">
                                <div class="row">
                                    <div class="mx-auto col-lg-12 col-xs-*">
                                        <div class="card">
                                            <div class="card-header">
                                                <div style="clear: both">
                                                    <h2 style="float: left">Orders Table</h2>
                                                    <button style="float: right" padding="15px" onClick="location.href='@Url.Action("ExportOrders", "Web")'" type="button" class="btn text-white text-right bg-success">Export Current Orders Table to Excel</button>
                                                    <button id="space" style="float: right" onClick="location.href='@Url.Action("ExportHistoricOrders", "Web")'" type="button" class="btn text-white text-right bg-success">Export Historic Orders to Excel</button>
                                                </div>
                                            </div>
                                            <div class="card-body" style="overflow-x:auto;">
                                                <table border="1" cellpadding="0" cellspacing="0" Class="small table table-bordered table-striped table-sm table-hover">
                                                    <tr>
                                                        <th>Order Number</th>
                                                        <th>Email</th>
                                                        <th>Name</th>
                                                        <th>Order Date and Time</th>
                                                        <th>Attending Ceremony</th>
                                                        <th>Cap Size</th>
                                                        <th>Weight</th>
                                                        <th>Height Feet</th>
                                                        <th>Height Inches</th>
                                                        <th>Degree</th>
                                                        <th>College</th>
                                                        <th>College State</th>
                                                        <th>College City</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                    @foreach (var item in ViewBag.orders)
                                                    {
                                                        <tr>
                                                            <td>@item.OrderID</td>
                                                            <td>@item.Email</td>
                                                            <td>@item.Name</td>
                                                            <td>@item.DateandTime</td>
                                                            <td>@item.CeremonyType</td>
                                                            <td>@item.CapSize</td>
                                                            <td>@item.Weight</td>
                                                            <td>@item.HeightFeet</td>
                                                            <td>@item.HeightInches</td>
                                                            <td>@item.Degree</td>
                                                            <td>@item.College</td>
                                                            <td>@item.CollegeState</td>
                                                            <td>@item.CollegeCity</td>
                                                            <td><Button ID="btnDelete" type="button" onclick="ConfirmDeleteOrders('@item.OrderID')" class="btn text-white text-right" style="background-color: #990000;">Delete</Button></td>
                                                        </tr>
                                                    }
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="addAdmin" class="container" style="padding-top: 25px; min-width: 100%; display: none;">
                                <div class="row">
                                    <div class="mx-auto col-lg-12 col-xs-*">
                                        <div class="card">
                                            <div class="card-header">
                                                <h2>
                                                    Add New Admin
                                                </h2>
                                            </div>
                                            <div class="card-body">
                                                <form action="NewAdmin" method="POST">
                                                    <label for="Id" class="font-weight-bold">
                                                        <span>Enter the faculty ID of the admin you would like to add</span>
                                                    </label>
                                                    <input required class="form-control" type="text" name="id" placeholder="Faculty ID" />
                                                    <br>
                                                    <div class="text-right">
                                                        <input type="submit" value="Submit" class="btn text-white text-right" style="background-color: #006e7a;" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            function ConfirmWrite() {
                var r = prompt("You are about to delete the active orders table and send the data to the historic table. This is irreversible and should typically only be done after each graduation. If you wish to continue, type 'CONFIRM'");
                if (r == "CONFIRM") {

                    window.location.replace("/Web/WriteHistoric");

                }
                else {

                }


            }

            function ConfirmDeleteFaculty(email) {
                var r = confirm("You are about to delete the active faculty member and the order existing for them. Are you sure you would like to do this?");
                if (r == true) {


                    var id = email.substr(0, 8);


                    window.location.replace("/Web/DeleteFaculty/" + id);

                }
                else {

                }


            }

            function ConfirmDeleteOrders(id) {
                var r = confirm("You are about to delete this order from the existing table. Are you sure you would like to do this?");
                if (r == true) {


                    window.location.replace("/Web/DeleteOrder/" + id);

                }
                else {

                }


            }


        </script>
    </body>
</html>

<script>
    var viewtemp;

    function onStart() {

        if (sessionStorage.getItem("viewtemp") == 1) {
            showFaculty();

        }
        else if (sessionStorage.getItem("viewtemp") == 2) {
            showOrders();

        }
        else if (sessionStorage.getItem("viewtemp") == 3) {
            showAddAdmin();

        }


    }

    function showFaculty() {
        document.getElementById("facultyTable").style.display = "initial";
        document.getElementById("ordersTable").style.display = "none";
        document.getElementById("addAdmin").style.display = "none";
        viewtemp = 1;

        sessionStorage.setItem("viewtemp", viewtemp);

    }

    function showOrders() {
        document.getElementById("facultyTable").style.display = "none";
        document.getElementById("ordersTable").style.display = "initial";
        document.getElementById("addAdmin").style.display = "none";

        viewtemp = 2;

        sessionStorage.setItem("viewtemp", viewtemp);

    }

    function showAddAdmin() {
        document.getElementById("facultyTable").style.display = "none";
        document.getElementById("ordersTable").style.display = "none";
        document.getElementById("addAdmin").style.display = "initial";

        viewtemp = 3;

        sessionStorage.setItem("viewtemp", viewtemp);

    }


</script>